{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Symfony + DataTables server-side</h1>

        <ul class="h4">
            <li><a href="basic/towns">DataTables Basic example</a></li>
            <li><a href="bs4/towns">DataTables Bootstrap4</a></li>
        </ul>
    </div>
{% endblock %}
